DATABASE_URL="postgresql://postgres:password@localhost:5432/bizpark?schema=public"
APPLICATION_DATABASE_URL="postgresql://postgres:password@localhost:5432/bizpark?schema=public"
ADMIN_DATABASE_URL="postgresql://postgres:password@localhost:5432/bizpark?schema=public"
RUNNER_DATABASE_URL="postgresql://postgres:password@localhost:5432/bizpark?schema=public"
APPLICATION_DB_SCHEMA="api"
ADMIN_DB_SCHEMA="admin"
RUNNER_DB_SCHEMA="runner"
TYPEORM_LOGGING="false"
REDIS_HOST="localhost"
REDIS_PORT="6379"

# AI Integrations
OPENAI_API_KEY="sk-..."
