.git
.github

**/.env
**/.env.*
**/env.local
**/*.local

**/node_modules
**/dist
**/.next
**/.turbo
**/coverage
**/coverage-data
**/.pytest_cache
**/__pycache__
**/*.pyc
**/venv
**/.venv

**/.DS_Store
**/*.log
**/test-report.html
**/test-results.json
